@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 16px;
}
.head{
    padding-top: 89px;
    margin-bottom: 55px;
    .container{
        .header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                gap: 40px;
                li{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 173%;
                    color: #5E607A;
                    transition: 0.4s ease;
                    &:hover{
                        color:#F15D51;
                    }
                }
            }
            .burger {
                display: none;
            }
        }
    }
}
.future{
    margin-bottom: 71px;
    .container{
      .future-content{
        display: flex;
        gap: 30px;
            .future-img{
                .future-img{
                    display: block;
                    margin-bottom: 36px;
                }
                .mobile-img{
                    display: none;
                }
                .future-text{
                    display: flex;
                    gap: 30px;
                    max-width: 730px;
                    h1{
                        font-weight: 800;
                        font-size: 56px;
                        line-height: 100%;
                        color: #00001A;
                    }
                    .link{
                        p{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 173%;
                            color: #5E607A;
                            margin-bottom: 29px;
                        }
                        button{
                            cursor: pointer;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 171%;
                            letter-spacing: 0.31em;
                            color: #FFFDFA;
                            background-color: #F15D51;
                            padding: 13px 35px 11px 31px;
                            border: none;
                            font-family: "Inter", sans-serif;
                            transition: 0.4s ease;
                            &:hover{
                                color:#fff;
                                background-color: #00001A;
                            }
                        }
                    }
                    
                }
            }
            .cards{
                width: 100%;
                max-width: 350px;
                padding: 32px 24px 31px;
                background-color: #00001A;
                .card1{
                    h2{
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 100%;
                        color: #E9AA52;
                        margin-bottom: 34px;
                    }
                    h3{
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 120%;
                        color: #FFFDFA;
                        margin-bottom: 8px;
                        transition: 0.4s ease;
                        cursor: pointer;
                    }
                    h3:hover{
                        color:#E9AA52;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 173%;
                        color: #C5C6CE;
                        margin-bottom: 29px;
                    }
                    .line{
                        width: 302px;
                        height: 1px;
                        background-color: #5E607A;
                        margin-bottom: 31px;
                    }
                }
                .card2{
                    h2{
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 100%;
                        color: #E9AA52;
                        margin-bottom: 34px;
                    }
                    h3{
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 120%;
                        color: #FFFDFA;
                        margin-bottom: 8px;
                        transition: 0.4s ease;
                        cursor: pointer;
                    }
                    h3:hover{
                        color:#E9AA52;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 173%;
                        color: #C5C6CE;
                        margin-bottom: 29px;
                    }
                    .line{
                        width: 302px;
                        height: 1px;
                        background-color: #5E607A;
                        margin-bottom: 31px;
                    }
                }
                .card3{
                    h2{
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 100%;
                        color: #E9AA52;
                    }
                    h3{
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 120%;
                        color: #FFFDFA;
                        margin-bottom: 8px;
                        transition: 0.4s ease;
                        cursor: pointer;
                    }
                    h3:hover{
                        color:#E9AA52;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 173%;
                        color: #C5C6CE;
                    }
                }
                
            }
        }
    }
}
.information{
    margin-bottom: 129px;
    .container{
        .information-cards{
            display: flex;
            max-width: 1110px;
            gap: 30px;
            .reviving{
                .old-computer{
                    display: flex;
                    gap: 24px;
                    max-width: 350px;
                    .text{
                        h3{
                            font-family: "Inter", sans-serif;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 100%;
                            color: #C5C6CE;
                            margin-bottom: 12px;
                        }
                        h4{
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 133%;
                            color: #00001A;
                            margin-bottom: 9px;
                            transition: 0.4s ease;
                            cursor: pointer;
                            &:hover{
                                color:#F15D51;
                            }
                        }
                        p{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 173%;
                            color: #5E607A;
                            max-width: 226px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:900px) {
    .container{
        max-width: 900px;
        margin: 0 auto;
    }
    .head{
        padding-top: 28px;
        margin-bottom: 32px;
        .container{
            .header-content{
                max-width: 900px;
                img{
                    width: 45px;
                    height: 28px;
                    
                }
                ul{
                    display: none;
                }
                .burger{
                    display: block;
                }
            }
        }
    }
    .future{
        .container{
            .future-content{
                display: flex;
                flex-direction: column;
                max-width: 343px;
                margin: 0 auto;
                .future-img{
                    .future-img{
                        display: none;
                    }
                    .mobile-img{
                        display: block;
                        margin-bottom: 24px;
                    }
                    .future-text{
                        display: flex;
                        flex-direction: column;
                        max-width: 343px;
                        gap: 0;
                        h1{
                            font-weight: 800;
                            font-size: 40px;
                            max-width: 300px;
                            margin-bottom: 16px;

                        }
                        .link{
                            p{
                                margin-bottom: 24px;
                            }
                        }
                        
                    }
                }
                .cards{
                    width: 100%;
                    max-width: 350px;
                    padding: 24px 20px;
                    background-color: #00001A;
                    .card1{
                        h2{
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 100%;
                            color: #E9AA52;
                            margin-bottom: 35px;
                        }
                        p{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 173%;
                            color: #C5C6CE;
                            margin-bottom: 29px;
                        }
                        .line{
                            width: 302px;
                            height: 1px;
                            background-color: #5E607A;
                            margin-bottom: 31px;
                        }
                    }
                }
            }
        }
    }
    .information{
        margin-bottom: 129px;
        .container{
            .information-cards{
                display: flex;
                max-width: 900px;
                flex-direction: column;
                gap: 32px;
                .reviving{
                    .old-computer{
                        display: flex;
                        max-width: 343px;
                        .text{
                            p{
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 173%;
                                color: #5E607A;
                                max-width: 219px;
                            }
                        }
                    }
                }
            }
        }
    }
}